*{
  margin: 0;
  padding: 0;
  font-family: 'Lato',sans-serif;
  font-size: 24px;
}
.App h1{
  color: lightcoral;
  font-size: 36px;
}
.App{
  text-align: center;
  margin: 0 auto;
  padding-top: 100px;
  min-height:100vh;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
.search-form{
  min-height:10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-bar{
  width:50%;
  border: none;
  padding:10px;
  border-radius: 3px;
  box-shadow: 6px 3px 2px #f0ad56;
}
.search-button{
  background-color:lightcoral;
  box-shadow: 2px 2px 1px #c40454;
  border: none;
  padding: 10px 20px;
  color: white;
}
.recipes{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}